/*verde hito #7ebe13*/

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}
.background img {
  width: 23em;
}
.kpi-xl-component{
	height: 500px;
}
.kpi-l-component{
	height: 300px;
}
.kpi-m-component{
	height: 300px;
}
.kpi-s-component{
	height: 300px;
}
.kpi-xs-component{
	height: 200px;
}
/*
.qvplaceholder, .qvobject {
height: 300px;
}
*/