/*verde hito #7ebe13*/

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}
.background img {
  width: 23em;
}
.kpi-xl{
	height: 500px;
}
.kpi-l{
	height: 300px;
}
.kpi-m{
	height: 300px;
}
.kpi-s{
	height: 300px;
}
.kpi-xs{
	height: 200px;
}
@media only screen and (min-width: 601px)
main >.container, body>.page-footer>.container, .top-nav>.container, #index-banner>.container {
    width: 100%;
}
@media only screen and (min-width: 993px)
.container {
    width: 70%;
}
@media only screen and (min-width: 601px)
.container {
    width: 85%;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
/*
.qvplaceholder, .qvobject {
height: 300px;
}
*/